@use 'sass:math';

/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 20;
  &.fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  }
  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 192rem;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0 3.2rem;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-out opacity;
    z-index: 2;
  }
  .h1 {
    width: 7.2rem;
    height: 2.6rem;
    a {
      font-size: 0;
      background: url(../images/hic-logo-blk.png) no-repeat 0 0 / cover;
    }
  }
  .btn-menu {
    display: inline-flex;
    flex: 1 1 auto;
    height: 3.2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 700;
    font-size: 2rem;
    color: $black-color;
    text-indent: -999em;
    position: relative;
    z-index: 10;
    strong {
      display: inline-block;
    }
    .gnb-icon {
      height: 0.2rem;
      width: 3.2rem;
      display: block;
      position: relative;
      top: 50%;
      background-color: $black-color;
      &::before,
      &::after {
        content: '';
        display: block;
        height: 0.2rem;
        background-color: $black-color;
        position: relative;
        top: -1rem;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
      }
      &::after {
        top: 0.8rem;
      }
    }
  }
}
/* GNB */
.commonGnb {
  opacity: 0;
  position: fixed;
  top: 2.4rem;
  right: 2rem;
  width: calc(100% - 4rem);
  height: calc(100vh - 4.8rem);
  background-color: $white-color;
  border-radius: $br-12;
  z-index: 80;
  visibility: hidden;
  transition: 0.3s ease-out all;
  ol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.2rem;
    .menu-li {
      width: 100%;
      a {
        font-size: 3.6rem;
        font-weight: 800;
        font-family: 'Outfit';
        text-align: center;
        text-transform: uppercase;
      }
      &.active {
        color: $coral-color;
      }
    }
  }
  .btn-download {
    position: absolute;
    bottom: 3.6rem;
    right: 50%;
    transform: translate(50%);
    width: auto;
    height: 6.4rem;
    padding-left: 3.2rem;
    padding-right: 5.6rem;
    border: 1px solid rgba(51, 51, 51, 0.15);
    border-radius: $br-100;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 13.9393L8.53033 10.4696C8.23744 10.1768 7.76256 10.1768 7.46967 10.4696C7.17678 10.7625 7.17678 11.2374 7.46967 11.5303L11.399 15.4596C11.7309 15.7915 12.2691 15.7915 12.601 15.4596L16.5303 11.5303C16.8232 11.2374 16.8232 10.7625 16.5303 10.4696C16.2374 10.1768 15.7626 10.1768 15.4697 10.4696L12 13.9393Z' fill='%23222222'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 14.75C11.5858 14.75 11.25 14.4142 11.25 14L11.25 2C11.25 1.58579 11.5858 1.25 12 1.25C12.4142 1.25 12.75 1.58579 12.75 2L12.75 14C12.75 14.4142 12.4142 14.75 12 14.75Z' fill='%23222222'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.5 14.25C2.91421 14.25 3.25 14.5858 3.25 15V19.25H20.75V15.5C20.75 15.0858 21.0858 14.75 21.5 14.75C21.9142 14.75 22.25 15.0858 22.25 15.5V19.9C22.25 20.3694 21.8694 20.75 21.4 20.75H2.6C2.13056 20.75 1.75 20.3694 1.75 19.9V15C1.75 14.5858 2.08579 14.25 2.5 14.25Z' fill='%23222222'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 17rem 50%;
    background-size: 2.4rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 6.4rem;
    text-wrap: nowrap;
  }
}
.gnbPopup {
  overflow: hidden;
  .header {
    z-index: 70;
    background-color: transparent;
    .btn-menu {
      font-size: 0;
      z-index: 90;
      top: 1rem;
      .gnb-icon {
        background-color: transparent;
        &::before {
          background-color: $black-color;
          top: 0;
          transform: translateY(0) rotate(45deg);
        }
        &:after {
          background-color: $black-color;
          top: 0;
          transform: translateY(-0.2rem) rotate(-45deg);
        }
      }
    }
  }

  .commonGnb {
    opacity: 1;
    visibility: visible;
  }
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    background-color: $black-color;
    opacity: 0.5;
    z-index: 70;
  }
}

/* sub layout */
.container {
  min-height: 44rem;
  padding-top: 16rem;
  .inner {
    padding: 0 1.2rem;
    box-sizing: border-box;
  }
  .sub-tit {
    text-transform: uppercase;
    font-size: 4.8rem;
    font-weight: 700;
    padding: 0 2rem;
  }
}

/*footer*/
.footer {
  margin: 8rem 0 0;
  padding: 8rem 3.2rem;
  background-color: $black-color2;
  color: $white-color;
  .logo {
    width: 12rem;
    height: 4.4rem;
    margin-bottom: 8rem;
    a {
      background: url(../images/hic-logo.png) no-repeat 0 0 / cover;
    }
  }
  .f-menu-list {
    display: none;
    .menu-cell {
      + .menu-cell {
        margin-top: 2rem;
      }
    }
    a {
      font-weight: 600;
      font-size: 4rem;
      line-height: 5rem;
    }
  }
  .f-info-grp {
    display: flex;
    gap: 4.6rem;
    .tit {
      margin-bottom: 0.8rem;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    .txt {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: #bbb;
    }
  }
  .copyright {
    display: block;
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #777;
  }
}

/*스크롤탑 버튼*/
.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 6rem;
  height: 6rem;
  z-index: 70;
  .btn-scroll-top {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2) url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10L9 2L17 10' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center center/ 1.6rem 0.8rem;
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* pc */
@media only screen and (min-width: 1280px) {
  /* sub layout */
  .container {
    min-height: 44rem;
    padding-top: 20rem;
    .inner {
      padding: 0 1.2rem;
      max-width: 140rem;
      margin: auto;
    }
    .sub-tit {
      font-size: 8rem;
      padding: 0;
    }
  }
}

/* 테블릿 */
@media only screen and (min-width: 1025px) {
  /* header */
  .header {
    height: 14rem;
    .inner {
      align-items: flex-end;
      padding: 0 7rem 3rem 8rem;
    }
    .h1 {
      width: 10.4rem;
      height: 3.8rem;
      margin-bottom: 1.1rem;
    }
    .btn-menu {
      width: auto;
      height: 6rem;
      text-indent: 0;
      align-items: center;
      .gnb-icon {
        top: 0;
        margin-left: 3.2rem;
      }
    }
  }
  /* footer */
  .footer {
    margin: 0;
    margin-top: 8rem;
    padding: 8rem;
    .inner {
      position: relative;
      display: flex;
      justify-content: flex-end;
      gap: 16rem;
    }
    .f-menu-list {
      display: block;
    }
    .f-info-grp {
      flex-direction: column;
      .tit {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      .txt {
        font-size: 1.5rem;
        line-height: 2.4rem;
      }
    }
    .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 14.1rem;
      height: 5.1rem;
    }
    .copyright {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: -vw(16);
    }
  }
  /* GNB */
  .commonGnb {
    top: 3rem;
    position: absolute;
    right: 0rem;
    width: 32.4rem;
    height: 47.8rem;
    border-radius: 2.4rem;
    opacity: 0;
    box-shadow: 0.8rem 0.8rem 3rem 0 rgba(0, 0, 0, 0.12), 0.2rem 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0.8rem 0.8rem 3rem 0 rgba(0, 0, 0, 0.12), 0.2rem 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0.8rem 0.8rem 3rem 0 rgba(0, 0, 0, 0.12), 0.2rem 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.08);
    transition: 0.3s ease-out all;
    ol {
      justify-content: flex-start;
      row-gap: 2.4rem;
      margin-top: 9.1rem;
      .menu-li {
        a {
          font-size: 3.2rem;
          line-height: 4rem;
        }
      }
    }
    .btn-download {
      border-color: #333;
    }
  }
  .gnbPopup {
    overflow: auto;
    .commonGnb {
      right: 5rem;
      opacity: 1;
    }
    &:before {
      content: none;
    }
    .h1 {
      position: absolute;
      top: 6.1rem;
      left: 8rem;
      z-index: 50;
    }
    .header {
      background-color: $white-color;
      .btn-menu {
        position: absolute;
        right: 7.5rem;
        top: 5rem;
        .gnb-icon {
          margin-left: 0;
        }
      }
    }
  }
}
