/*팝업 클릭시 스타일*/
.main.popup {
  overflow: hidden;
  .header {
    z-index: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    opacity: 0.5;
    z-index: 70;
  }
}

/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 3.2rem;
  z-index: 20;
  .h1 {
    width: 7.2rem;
    height: 2.65rem;
    a {
      background: url(../images/hic-logo.png) no-repeat 0 0 / cover;
    }
  }
  .btn-menu {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../images/btn/btn-menu.svg) no-repeat 0 0 / cover;
    font-weight: 700;
    font-size: 2rem;
    color: $white-color;
    text-indent: -999em;
  }
}

/*메뉴*/
.menu-list-box {
  display: none;
  position: absolute;
  top: 2.4rem;
  right: 2rem;
  width: calc(100% - 4rem);
  height: calc(100vh - 4.8rem);
  background-color: $white-color;
  border-radius: $br-12;
  z-index: 80;
  .btn-menu-closed {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    width: 3.2rem;
    height: 3.2rem;
    background: url(../images/btn/btn-closed.svg) no-repeat 0 0 / cover;
  }
  ol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.2rem;
    .menu-li {
      width: 100%;
      a {
        font-size: 3.6rem;
        font-weight: 800;
        font-family: 'Outfit';
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .btn-download {
    position: absolute;
    bottom: 3.6rem;
    right: 50%;
    transform: translate(50%);
    width: auto;
    height: 6.4rem;
    padding-left: 3.2rem;
    padding-right: 5.6rem;
    border: 1px solid rgba(51, 51, 51, 0.15);
    border-radius: $br-100;
    background: url(../images/ico/ico-download.svg) no-repeat 17rem 50% / 2.4rem 2.4rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 6.4rem;
    text-wrap: nowrap;
  }
}

/*메인 비주얼*/
.visual-box {
  .visual-cell {
    position: relative;
    width: 100%;
    height: 100vh;
    img {
      @include img-fit($isAbsolute: true);
      z-index: -1;
    }
    .context-box {
      position: absolute;
      left: 4rem;
      top: 14rem;
      color: $white-color;
      .tag {
        width: fit-content;
        padding: 0 2rem;
        background-color: $bg-red;
        border-radius: $br-100;
        font-size: 1.8rem;
        font-weight: 900;
        line-height: 3.9rem;
      }
      .headtit {
        margin-top: 2rem;
        margin-bottom: 0.8rem;
        font-size: 3.6rem;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.72px;
      }
      .subtit {
        font-family: 'Pretendard';
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
  }
}

.career-group-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.15);
  transition: 0.5s height cubic-bezier(0.075, 0.82, 0.165, 1);
  box-sizing: border-box;
  z-index: 20;
  .btn-open-career {
    position: absolute;
    top: -5.6rem;
    left: 50%;
    width: 4.8rem;
    height: 4.8rem;
    background: url(../images/btn/btn-open-comtents.svg) no-repeat 0 0 / cover;
    transform: translateX(-50%);
  }
  .title-box {
    width: 100%;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 8rem;
    }
  }
  .career-box {
    visibility: hidden;
    padding: 0 1.2rem 8rem;
  }
  .round-box {
    padding-top: 4.8rem;
    padding-bottom: 5rem;
    background-color: $white-color;
    border-radius: $br-40;
    text-align: center;
    text-transform: uppercase;
    .round-header {
      padding: 0 2.4rem;
      h3 {
        font-weight: 700;
        font-size: 4rem;
        color: $black-color;
        line-height: 5rem;
      }
      p {
        font-family: 'Pretendard';
        font-size: 1.8rem;
        font-weight: 700;
        color: $black-color;
        line-height: 2rem;
      }
    }
  }
}

/*메인스크롤 이벤트시 스타일*/
.active {
  .contents-area {
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
  }
  .header {
    z-index: inherit;
    .h1 {
      position: fixed;
      top: 2.7rem;
      left: 3.2rem;
      z-index: 50;
    }
    .btn-menu {
      position: fixed;
      top: 2.4rem;
      right: 3.2rem;
      z-index: 50;
    }
  }
  .career-group-box {
    height: calc(100% - 8rem);
    background-color: $black-color;
    box-shadow: 0px -0.996px 2.627px 0px rgba(0, 0, 0, 0.17), 0px -2.755px 7.263px 0px rgba(0, 0, 0, 0.24), 0px -6.632px 17.485px 0px rgba(0, 0, 0, 0.31), 0px -22px 58px 0px rgba(0, 0, 0, 0.48);
    h2 {
      color: $white-color;
    }
  }
  .career-box {
    visibility: visible;
    height: 100%;
    overflow: auto;
  }
  .btn-open-career {
    top: -6.6rem;
    background-image: url(../images/btn/btn-closed-comtents.svg);
  }
}
