@use 'sass:math';

/*팝업 클릭시 스타일*/
.main.popup {
  overflow: hidden;
  .header {
    z-index: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    opacity: 0.5;
    z-index: 70;
  }
}

/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 20;
  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 3.2rem;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-out opacity;
    z-index: 2;
  }
  .h1 {
    width: 7.2rem;
    height: 2.6rem;
    a {
      font-size: 0;
      background: url(../images/hic-logo.png) no-repeat 0 0 / cover;
    }
  }
  .btn-menu {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../images/btn/btn-menu.svg) no-repeat 0 0 / cover;
    font-weight: 700;
    font-size: 2rem;
    color: $white-color;
    text-indent: -999em;
  }
}

/*메뉴*/
.menu-list-box {
  display: none;
  position: absolute;
  top: 2.4rem;
  right: 2rem;
  width: calc(100% - 4rem);
  height: calc(100vh - 4.8rem);
  background-color: $white-color;
  border-radius: $br-12;
  z-index: 80;
  .btn-menu-closed {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    width: 3.2rem;
    height: 3.2rem;
    background: url(../images/btn/btn-closed.svg) no-repeat 0 0 / cover;
  }
  ol {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.2rem;
    .menu-li {
      width: 100%;
      a {
        font-size: 3.6rem;
        font-weight: 800;
        font-family: 'Outfit';
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .btn-download {
    position: absolute;
    bottom: 3.6rem;
    right: 50%;
    transform: translate(50%);
    width: auto;
    height: 6.4rem;
    padding-left: 3.2rem;
    padding-right: 5.6rem;
    border: 1px solid rgba(51, 51, 51, 0.15);
    border-radius: $br-100;
    background: url(../images/ico/ico-download.svg) no-repeat 17rem 50% / 2.4rem 2.4rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 6.4rem;
    text-wrap: nowrap;
  }
}

/*메인 비주얼*/
.visual-box {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .visual-cell {
    position: relative;
    width: 100%;
    height: 100vh;
    img {
      @include img-fit($isAbsolute: true);
      z-index: -1;
    }
    .context-box {
      position: absolute;
      left: 4rem;
      top: 14rem;
      color: $white-color;
      .tag {
        width: fit-content;
        padding: 0 2rem;
        background-color: $bg-red;
        border-radius: $br-100;
        font-size: 1.8rem;
        font-weight: 900;
        line-height: 3.9rem;
      }
      .headtit {
        margin-top: 2rem;
        margin-bottom: 0.8rem;
        font-size: 3.6rem;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -0.72px;
      }
      .subtit {
        font-family: 'Pretendard';
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
  }
  .slide-paging {
    display: none;
  }
}

.contents-group-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.15);
  //transition: 0.5s height cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.3s height ease-out;
  box-sizing: border-box;
  z-index: 20;
  .btn-open-career {
    position: absolute;
    top: -5.6rem;
    left: 50%;
    width: 4.8rem;
    height: 4.8rem;
    background: url(../images/btn/btn-open-comtents.svg) no-repeat 0 0 / cover;
    transform: translateX(-50%);
  }
  .title-box {
    width: 100%;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 8rem;
    }
  }
  .contents-box {
    visibility: hidden;
    padding: 0 1.2rem;
  }
  .round-box {
    padding-top: 4.8rem;
    padding-bottom: 5rem;
    background-color: $white-color;
    border-radius: $br-40;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    + .round-box,
    + .round-box-grp {
      margin-top: 1.2rem;
    }
    .round-header {
      padding: 0 2.4rem;
      h3 {
        font-weight: 700;
        font-size: 4rem;
        color: $black-color;
        line-height: 5rem;
      }
      p {
        font-family: 'Pretendard';
        font-size: 1.8rem;
        font-weight: 700;
        color: $black-color;
        line-height: 2rem;
      }
      + .round-body {
        margin-top: 4.8rem;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
      }
    }
    &.-typo {
      padding: 0;
      background-color: transparent;
      a {
        padding-bottom: 100%;
        position: relative;
        height: auto;
        &:hover {
          .round-header {
            &::before {
              transform: scale(1.2);
              opacity: 0.75;
            }
          }
        }
      }
      .round-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        h3 {
          color: $white-color;
          position: relative;
        }
        &::before {
          content: '';
          display: block;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
          opacity: 1;
          transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
        }
        &.-uxw::before {
          background-image: url(../images/img/bg-boxImage01.png);
        }
        &.-uxm::before {
          background-image: url(../images/img/bg-boxImage02.png);
        }
        &.-ai::before {
          background-image: url(../images/img/bg-boxImage03.png);
        }
        &.-vui::before {
          background-image: url(../images/img/bg-boxImage04.png);
        }
      }
    }
    .career-slide-box {
      padding: 0 2.4rem;
      overflow: visible;
      .slide-cell {
        width: 28rem;
        + .slide-cell {
          margin-left: 1.6rem;
        }
      }
      a {
        &:active,
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }

      .preview-box {
        height: 20rem;
        border-radius: $br-12;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform-origin: center;
          transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
        }
      }
      .context-box {
        font-family: 'Pretendard';
        margin-top: 2.4rem;
        text-align: left;
        color: $black-color;
        .tit {
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 2.8rem;
        }
        .txt {
          margin-top: 0.6rem;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.2rem;
          word-break: keep-all !important;
          @include ellipsis($line: 2);
        }
      }
    }
  }
  .round-box-grp {
    + .round-box,
    + .round-box-grp {
      margin-top: 1.2rem;
    }
  }
}

/*footer*/
.footer {
  margin: 8rem -1.2rem 0;
  padding: 8rem 3.2rem;
  background-color: $black-color2;
  color: $white-color;
  .logo {
    width: 12rem;
    height: 4.4rem;
    margin-bottom: 8rem;
    a {
      background: url(../images/hic-logo.png) no-repeat 0 0 / cover;
    }
  }
  .f-menu-list {
    display: none;
    .menu-cell {
      + .menu-cell {
        margin-top: 2rem;
      }
    }
    a {
      font-weight: 600;
      font-size: 4rem;
      line-height: 5rem;
    }
  }
  .f-info-grp {
    display: flex;
    gap: 4.6rem;
    .tit {
      margin-bottom: 0.8rem;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    .txt {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: #bbb;
    }
  }
  .copyright {
    display: block;
    margin-top: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: #777;
  }
}

/*스크롤탑 버튼*/
.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 6rem;
  height: 6rem;
  z-index: 70;
  .btn-scroll-top {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2) url(../images/btn/btn-scrollTop.svg) no-repeat center center/ 1.6rem 0.8rem;
  }
}

.contents-area {
  /*메인스크롤 이벤트시 스타일*/
  &.active {
    overflow: hidden;
    height: 100vh;
    .header {
      z-index: inherit;
      .h1 {
        position: absolute;
        top: 2.7rem;
        left: 3.2rem;
        z-index: 50;
      }
      .btn-menu {
        position: absolute;
        top: 2.4rem;
        right: 3.2rem;
        z-index: 50;
      }
      &::before {
        opacity: 1;
        height: 100vh;
      }
    }
    .contents-group-box {
      height: calc(100% - 8rem);
      background-color: $black-color;
      box-shadow: 0 -0.996px 2.627px 0 rgba(0, 0, 0, 0.17), 0px -2.755px 7.263px 0px rgba(0, 0, 0, 0.24), 0px -6.632px 17.485px 0px rgba(0, 0, 0, 0.31), 0px -22px 58px 0px rgba(0, 0, 0, 0.48);
      h2 {
        color: $white-color;
      }
      > .inner {
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }
    .contents-box {
      visibility: visible;
      height: 100%;
    }
    .btn-open-career {
      top: -6.6rem;
      background-image: url(../images/btn/btn-closed-comtents.svg);
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* pc */
@media only screen and (min-width: 1280px) {
}

/* 테블릿 */
@media only screen and (min-width: 768px) {
  .main.popup {
    overflow: auto;
    &:after {
      display: none;
    }
    .h1 {
      position: absolute;
      top: 6.1rem;
      left: 8rem;
      z-index: 50;
    }
    .btn-menu {
      position: absolute;
      right: 7rem;
      top: 5rem;
    }
  }
  .visual-box {
    .visual-cell {
      .context-box {
        left: 16rem;
        top: 50%;
        transform: translateY(-55%);
        .tag {
          padding: 1.4rem 5rem;
          font-size: 4rem;
          line-height: 5rem;
        }
        .headtit {
          margin-top: 3.2rem;
          margin-bottom: 1.3rem;
          font-size: 7.2rem;
          line-height: 9rem;
        }
        .subtit {
          font-size: 4rem;
          line-height: 4.7rem;
        }
        .ico-app-award {
          display: block;
          width: 10rem;
          height: 10.9rem;
          margin-top: 1.9rem;
          background: url(../images/img/img-aapAward-symbol.png) no-repeat 0 0 / cover;
        }
      }
    }
    .swiper-pagination {
      top: auto;
      bottom: 27rem;
      padding-left: 16rem;
      text-align: left;
      .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
        background-color: $white-color;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        width: 4rem;
        background-color: #f84773;
        border-radius: 1rem;
      }
    }
  }
  .contents-area {
    &.active {
      .header {
        .h1 {
          bottom: 3.1rem;
          left: 8rem;
          top: auto;
        }
        .btn-menu {
          bottom: 3rem;
          right: 7rem;
          top: auto;
        }
      }
      .contents-group-box {
        height: calc(100% - 14rem);
        background-color: $white-color;
        box-shadow: 0px 0px 2rem 3rem rgba(0, 0, 0, 0.12);
        .title-box {
          h2 {
            color: $black-color;
          }
        }
      }
    }
  }
  .header {
    height: 14rem;
    .inner {
      align-items: flex-end;
      padding: 0 7rem 3rem 8rem;
    }
    .h1 {
      width: 10.4rem;
      height: 3.8rem;
      margin-bottom: 1.1rem;
    }
    .btn-menu {
      width: auto;
      height: 6rem;
      padding-right: 7.8rem;
      background-position: right;
      background-size: 6rem 6rem;
      text-indent: 0;
    }
  }
  .menu-list-box {
    top: 3rem;
    right: 5rem;
    width: 32.4rem;
    height: 47.8rem;
    border-radius: 2.4rem;
    ol {
      justify-content: flex-start;
      row-gap: 2.4rem;
      margin-top: 9.1rem;
      .menu-li {
        a {
          font-size: 3.2rem;
          line-height: 4rem;
        }
      }
    }
    .btn-download {
      border-color: #333;
    }
    .btn-menu-closed {
      top: 2rem;
      right: 2rem;
      width: 6rem;
      height: 6rem;
      background-position: center;
      background-size: 2.8rem 2.8rem;
    }
  }
  .contents-group-box {
    height: 10rem;
    .title-box {
      margin-bottom: 6.3rem;
      h2 {
        line-height: 10rem;
        font-size: 2rem;
      }
    }
    .contents-box {
      padding: 0;
    }
    .round-box {
      padding-top: 0;
      padding-bottom: 10rem;
      .round-header {
        h3 {
          font-size: 4.8rem;
          line-height: 6rem;
        }
        p {
          font-size: 2rem;
        }
        + .round-body {
          margin-top: 4rem;
        }
      }
      .round-body {
        .career-slide-box {
          padding: 0;
          padding-right: 12rem;
          width: calc(100% - 16rem);
          .preview-box {
            height: auto;
          }
          .context-box {
            .tit {
              font-size: max(3.2rem, -vw(32));
              line-height: 3.8rem;
            }
            .txt {
              font-size: max(1.6rem, -vw(16));
              line-height: 2.4rem;
            }
          }
          .slide-cell {
            + .slide-cell {
              margin-left: 4rem;
            }
          }
        }
      }
      + .round-box-grp {
        margin-top: 0;
        display: flex;
        padding: 0 8rem;
        gap: 4rem;
        .round-box {
          flex: 1;
          margin: 0;
        }
      }
      + .round-box,
      + .round-box-grp {
        margin-top: 0;
      }
      &.-typo {
        a {
          padding-bottom: -per(460, 860);
          h3 {
            font-size: -vw(64);
          }
        }
      }
    }
    .round-box-grp {
      + .round-box,
      + .round-box-grp {
        margin-top: 10rem;
      }
    }
  }
  .footer {
    margin: 0;
    margin-top: 8rem;
    padding: 8rem;
    .inner {
      position: relative;
      display: flex;
      justify-content: flex-end;
      gap: 16rem;
    }
    .f-menu-list {
      display: block;
    }
    .f-info-grp {
      flex-direction: column;
      .tit {
        font-size: 2rem;
        line-height: 2.5rem;
      }
      .txt {
        font-size: 1.5rem;
        line-height: 2.4rem;
      }
    }
    .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 14.1rem;
      height: 5.1rem;
    }
    .copyright {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: -vw(16);
    }
  }
}
