@use 'sass:math';
/* 메인 */
.main {
  .header {
    &.fixed {
      position: absolute;
      box-shadow: none;
    }
    .h1 {
      a {
        background: url(../images/hic-logo.png) no-repeat 0 0 / cover;
      }
    }
    .btn-menu {
      color: $white-color;
      .gnb-icon,
      .gnb-icon::before,
      .gnb-icon:after {
        background-color: $white-color;
      }
    }
  }

  .footer {
    margin: 8rem -1.2rem 0;
  }
  /*메인 비주얼*/
  .visual-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .visual-cell {
      position: relative;
      width: 100%;
      height: 100vh;
      img {
        @include img-fit($isAbsolute: true);
        z-index: -1;
      }
      .context-box {
        position: absolute;
        left: 4rem;
        top: 14rem;
        color: $white-color;
        .tag {
          width: fit-content;
          padding: 0 2rem;
          background-color: $bg-red;
          border-radius: $br-100;
          font-size: 1.8rem;
          font-weight: 900;
          line-height: 3.9rem;
        }
        .headtit {
          margin-top: 2rem;
          margin-bottom: 0.8rem;
          font-size: 3.6rem;
          font-weight: 900;
          line-height: normal;
          letter-spacing: -0.72px;
        }
        .subtit {
          font-family: 'Pretendard';
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
    }
    .slide-paging {
      display: none;
    }
  }

  .contents-group-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #fff;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.15);
    //transition: 0.5s height cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.3s height ease-out;
    box-sizing: border-box;
    z-index: 20;
    .btn-open-career {
      position: absolute;
      top: -5.6rem;
      left: 50%;
      width: 4.8rem;
      height: 4.8rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.7071 15L24.4142 15.7071L39.4142 30.7071L38 32.1213L23.7071 17.8284L9.41421 32.1213L8 30.7071L23 15.7071L23.7071 15Z' fill='white'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(-50%);
    }
    .title-box {
      width: 100%;
      text-align: center;
      h2 {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 8rem;
      }
    }
    .contents-box {
      visibility: hidden;
      padding: 0 1.2rem;
    }
    .round-box {
      padding-top: 4.8rem;
      padding-bottom: 5rem;
      background-color: $white-color;
      border-radius: $br-40;
      text-align: center;
      text-transform: uppercase;
      overflow: hidden;
      + .round-box,
      + .round-box-grp {
        margin-top: 1.2rem;
      }
      .round-header {
        padding: 0 2.4rem;
        h3 {
          font-weight: 700;
          font-size: 4rem;
          color: $black-color;
          line-height: 5rem;
        }
        p {
          font-family: 'Pretendard';
          font-size: 1.8rem;
          font-weight: 700;
          color: $black-color;
          line-height: 2rem;
        }
        + .round-body {
          margin-top: 4.8rem;
          box-sizing: border-box;
          overflow: hidden;
          width: 100%;
        }
      }
      &.-typo {
        padding: 0;
        background-color: transparent;
        a {
          padding-bottom: 100%;
          position: relative;
          height: auto;
          &:hover {
            .round-header {
              &::before {
                transform: scale(1.2);
                opacity: 0.75;
              }
            }
          }
        }
        .round-header {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 0 1rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $black-color;
          h3 {
            color: $white-color;
            position: relative;
          }
          &::before {
            content: '';
            display: block;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            opacity: 1;
            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) all;
          }
          &.-uxw::before {
            background-image: url(../images/img/bg-boxImage01.png);
          }
          &.-uxm::before {
            background-image: url(../images/img/bg-boxImage02.png);
          }
          &.-ai::before {
            background-image: url(../images/img/bg-boxImage03.png);
          }
          &.-vui::before {
            background-image: url(../images/img/bg-boxImage04.png);
          }
        }
      }
      .career-slide-box {
        padding: 0 2.4rem;
        overflow: visible;
        .slide-cell {
          width: 28rem;
          + .slide-cell {
            margin-left: 1.6rem;
          }
        }
        a {
          &:active,
          &:hover {
            .preview-box {
              img {
                transform: scale(1.05);
              }
            }
          }
        }

        .preview-box {
          height: 20rem;
          border-radius: $br-12;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform-origin: center;
            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
          }
        }
        .context-box {
          font-family: 'Pretendard';
          margin-top: 2.4rem;
          text-align: left;
          color: $black-color;
          .tit {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.8rem;
          }
          .txt {
            margin-top: 0.6rem;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.2rem;
            word-break: keep-all !important;
            @include ellipsis($line: 2);
          }
        }
      }
    }
    .round-box-grp {
      + .round-box,
      + .round-box-grp {
        margin-top: 1.2rem;
      }
    }
  }
  .contents-area {
    /*메인스크롤 이벤트시 스타일*/
    &.active {
      overflow: hidden;
      height: 100vh;
      .header {
        z-index: inherit;
        .h1 {
          position: absolute;
          top: 2.7rem;
          left: 3.2rem;
          z-index: 50;
        }
        .btn-menu {
          position: absolute;
          top: 2.4rem;
          right: 3.2rem;
          z-index: 50;
        }
        &::before {
          opacity: 1;
          height: 100vh;
        }
      }
      .contents-group-box {
        height: calc(100% - 8rem);
        background-color: $black-color;
        box-shadow: 0 -0.996px 2.627px 0 rgba(0, 0, 0, 0.17), 0px -2.755px 7.263px 0px rgba(0, 0, 0, 0.24), 0px -6.632px 17.485px 0px rgba(0, 0, 0, 0.31), 0px -22px 58px 0px rgba(0, 0, 0, 0.48);
        h2 {
          color: $white-color;
        }
        > .inner {
          width: 100%;
          height: 100%;
          overflow: auto;
        }
      }
      .contents-box {
        visibility: visible;
        height: 100%;
      }
      .btn-open-career {
        top: -6.6rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.7071 32.8284L23 32.1213L8 17.1213L9.41422 15.7071L23.7071 30L38 15.7071L39.4142 17.1213L24.4142 32.1213L23.7071 32.8284Z' fill='white'/%3E%3C/svg%3E");
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */
/* pc */
@media only screen and (min-width: 1280px) {
}

/* 테블릿 */
@media only screen and (min-width: 768px) {
  /* 메인 */
  .main {
    .visual-box {
      .visual-cell {
        .context-box {
          left: 16rem;
          top: 50%;
          transform: translateY(-55%);
          .tag {
            padding: 1.4rem 5rem;
            font-size: 4rem;
            line-height: 5rem;
          }
          .headtit {
            margin-top: 3.2rem;
            margin-bottom: 1.3rem;
            font-size: 7.2rem;
            line-height: 9rem;
          }
          .subtit {
            font-size: 4rem;
            line-height: 4.7rem;
          }
          .ico-app-award {
            display: block;
            width: 10rem;
            height: 10.9rem;
            margin-top: 1.9rem;
            background: url(../images/img/img-aapAward-symbol.png) no-repeat 0 0 / cover;
          }
        }
      }
      .swiper-pagination {
        top: auto;
        bottom: 27rem;
        left: 16rem;
        text-align: left;
        width: auto;
        .swiper-pagination-bullet {
          width: 1rem;
          height: 1rem;
          background-color: $white-color;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          width: 4rem;
          background-color: #f84773;
          border-radius: 1rem;
        }
      }
    }
    .contents-area {
      &.active {
        .header {
          .h1 {
            bottom: 3.1rem;
            left: 8rem;
            top: auto;
          }
          .btn-menu {
            bottom: 3rem;
            right: 7rem;
            top: auto;
          }
        }
        .contents-group-box {
          height: calc(100% - 14rem);
          background-color: $white-color;
          box-shadow: 0px 0px 2rem 3rem rgba(0, 0, 0, 0.12);
          .title-box {
            h2 {
              color: $black-color;
            }
          }
        }
      }
    }

    .contents-group-box {
      height: 10rem;
      .title-box {
        margin-bottom: 6.3rem;
        h2 {
          line-height: 10rem;
          font-size: 2rem;
        }
      }
      .contents-box {
        padding: 0;
      }
      .round-box {
        padding-top: 0;
        padding-bottom: 10rem;
        .round-header {
          h3 {
            font-size: 4.8rem;
            line-height: 6rem;
          }
          p {
            font-size: 2rem;
          }
          + .round-body {
            margin-top: 4rem;
          }
        }
        .round-body {
          .career-slide-box {
            padding: 0;
            padding-right: 12rem;
            width: calc(100% - 16rem);
            .preview-box {
              height: auto;
            }
            .context-box {
              .tit {
                font-size: max(3.2rem, -vw(32));
                line-height: max(3.8rem, -vw(32));
              }
              .txt {
                font-size: max(1.6rem, -vw(16));
                line-height: max(2.4rem, -vw(16));
              }
            }
            .slide-cell {
              + .slide-cell {
                margin-left: 4rem;
              }
            }
          }
        }
        + .round-box-grp {
          margin-top: 0;
          display: flex;
          padding: 0 8rem;
          gap: 4rem;
          .round-box {
            flex: 1;
            margin: 0;
          }
        }
        + .round-box,
        + .round-box-grp {
          margin-top: 0;
        }
        &.-typo {
          a {
            padding-bottom: -per(460, 860);
            h3 {
              font-size: -vw(64);
            }
          }
        }
      }
      .round-box-grp {
        + .round-box,
        + .round-box-grp {
          margin-top: 10rem;
        }
      }
    }
  }
}
